/* selector::pseudo-element */

p::first-letter {
  font-size: 35px;
  color: green;
}

p::first-line {
  color: brown;
}
h1::before {
  content: url("../images/car_icon.ico");
}
h1::after {
  content: "  added after";
}
::selection {
  color: rgb(250, 250, 250);
  background: green;
}
